body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    background: linear-gradient(to right,#fddbfa,#fbd5fb, #ffe3ff, #fbd5fb);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    border: solid 3px #2b2b2c;
      background-color: #F9F5FF; 
    justify-content: center; 
    align-items: center; 
    height: 80%; 
    padding: 30px;
    box-sizing: border-box; 
}
h1{
font-size: 3rem;
color: hsl(200, 4%, 13%);
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7rem;
    min-width: 160px;
    margin: 0 10px;
    border: solid 3px hsl(344, 100%, 82%);
    border-radius: 50px;
    background-color: hsl(304, 100%, 90%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: hsl(305, 50%, 70%);
    font-size: 7.2rem;
    
}
.choices button:active{
    background-color: hsl(305, 50%, 95%);
}

#playerDisplay, #computerDisplay, #playerNameDisplay{
    font-size: 1.5rem;
}
#resultDisplay, #playerNameDisplay{
    font-size: 3rem;
    margin: 10px 0;
}
.scoreDisplay{
    font-size: 1.5rem;
}
.greenText, #playerScore{
    color:rgb(31, 191, 138);
}
.redText, #computerScore{
    color:brown;
}


.bottomline {
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  bottom:0;
  padding-bottom:20px;
  letter-spacing: 2px;
  font-family: "verdana";
  font-size: 12px;
  text-align: center;
  width: 800px;
  z-index: 99;
  color: grey;
}
a {
  position: relative;
  letter-spacing: 2px;
  font-family: "verdana";
  font-size: 12px;
  color: #F48FB1;
  text-decoration: none;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .90;
    background-color: rgb(225, 133, 231);
    box-shadow: #ef6492 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: -1;
}

button:focus{
  outline: none;
}

.header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: rgb(253, 213, 213);
  font-size: 2em;
}
