body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #cce7ff;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: cursive, sans-serif;
  color:aliceblue;
}
input {
  padding: 15px;
  width: 250px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px hsl(209, 94%, 40%);
}

button:hover{
  background-color: hsl(209, 95%, 84%);
}button:active{
  background-color: hsl(209, 95%, 50%);
}
#result {
  font-size: 18px;
  margin-top: 20px;
}


.container {
  padding: 90px;
  border-radius: 5px;
  border: solid 2px hsl(209, 97%, 75%);
  background-color: #007ced;
	background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}

a{
  text-decoration: none;
  color:hsl(208, 100%, 65%);
}
a:hover{
   color:hsl(208, 100%, 45%);
}
a:active{
   color:hsl(208, 100%, 95%);
}
.credits{
  margin-top: 60px;
  color:hsl(208, 100%, 70%);
  font-family: cursive, sans-serif;
font-size: 1.1rem;
}
#result{
   color:hsl(208, 100%, 30%);
  font-family: cursive, sans-serif;
font-size: 1.1rem;
}
